<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio de Matis</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <p>Portfolio</p>
      <nav class="navbar">
        <a href="">Accueil</a>
        <a href="">À propos</a>
        <a href="">Projets</a>
      </nav>
    </header>
    <div id="app">
      <div class="info" v-for="projet in projects" :key="projet.id">
        <h2>{{ projet.title }}</h2>
        <h3>{{ projet.category }}</h3>
      </div>

      <div class="imagecentrale" v-for="projet in projects" :key="projet.id">
        <img :src="projet.image" />
      </div>

      <div class="texte" v-for="projet in projects" :key="projet.id">
        <p>{{ projet.paraun }}</p>
        <p>{{ projet.paradeux }}</p>
      </div>
      <script src="https://unpkg.com/vue@3"></script>
      <script src="script.js"></script>
    </div>

    <section id="btnjouer" class="btnjouer">
      <button
        onclick="window.location.href='https://jahmfrfr.itch.io/sumocore'"
      >
        Jouer
      </button>
    </section>
  </body>
</html>
