@font-face {
  font-family: "Onest";
  src: url("./font/Onest-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Onest-semi-bold";
  src: url("./font/Onest-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Onest-medium";
  src: url("./font/Onest-Medium.ttf") format("truetype");
}

:root {
  --white-transparent: rgba(255, 255, 255, 0.06);
  --white: #f4f4f4;
  --yellow: #edd11b;
  --blue: #94e7ec;
  --white-hover: #dad9d9;
  --blue-hover: #37b7bf;
}

body {
  background-color: black;
  font-family: "Onest-semi-bold";
}

p {
  font-family: "Onest-medium";
  font-size: 1.2rem;
}

/* Navbar et header */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 20px;
  position: relative;
}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: var(--yellow);
  font-family: "Onest-semi-bold";
  font-size: 1.6rem;
}

header nav {
  display: flex;
  gap: 42px;
  background-color: var(--white-transparent);
  border: solid var(--white-transparent);
  background-clip: padding-box;
  border-width: 15px 42px;
  border-radius: 40px;
}

header nav a {
  color: var(--white);
  font-family: "Onest-medium";
  text-decoration: none;
  font-size: 1rem;
}

.projetspecial {
  color: var(--blue);
}

/* Acceuil */

.hero {
  padding-top: 130px;
}

.hero > div {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 3/4 pour le nom, 1/4 pour le paragraphe */
  align-items: center;
  color: var(--white);
  padding: 70px;
  gap: 25px;
  max-width: 1900px;
  margin: 0 auto;
}

.nom-container {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}

.prenom {
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
}

.nom {
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
}

/* À propos */

.apropos {
  display: grid;
  align-items: center;
  color: var(--white);
  max-width: 1100px; /* autre maniere pour largeur contenue? */
  margin: 0 auto;
  padding-top: 120px;
}

.apropos h2 {
  font-size: 6rem;
  margin: 0;
  padding-bottom: 40px;
  color: transparent; /* Pas de couleur de remplissage */
  -webkit-text-stroke: 0.6px var(--white); /* Épaisseur + couleur du contour */
}

.apropos-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 2/3 paragraphe à gauche, 1/3 image à droite */
  column-gap: 70px;
}

.apropos-container p {
  align-self: center;
  color: var(--blue);
}

.apropos-container img {
  width: 390px;
  height: auto;
}

/* Competences */

.competences {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 80px;
}

.imagecompetences {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 45px;
}

.imagecompetences img {
  height: 65px;
  width: 65px;
}

/* Projets */

.projets {
  display: grid;
  align-items: center;
  color: var(--white);
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 190px;
}

.projets h2 {
  font-size: 6rem;
  margin: 0;
  padding-bottom: 40px;
  color: transparent; /* Pas de couleur de remplissage */
  -webkit-text-stroke: 0.6px var(--white); /* Épaisseur + couleur du contour */
}

.projet1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 17px;
  padding-top: 40px;
}

.projet1 img {
  width: 200px;
  height: auto;
}

.projet1 .descprojet1 {
  align-self: center;
}

.projet1 .descprojet1 h3 {
  font-size: 1.7rem;
}

/* Version petite / mobile */

@media screen and (max-width: 810px) {
  .hero > div {
    grid-template-columns: 1fr;
    height: auto;
    padding-top: 300px;
  }

  .prenom {
    font-size: 8rem;
  }

  .nom {
    font-size: 8rem;
  }

  header {
    justify-content: space-between;
  }

  header h1 {
    position: static;
    transform: none;
  }

  header nav {
    margin-right: 20px;
  }

  .apropos h2 {
    justify-items: center;
    text-align: center;
    font-size: 5rem;
  }

  .apropos-container {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .apropos-container img {
    width: 60%;
    height: auto;
  }
}
