@font-face {
  font-family: "Onest";
  src: url("./font/Onest-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Onest-semi-bold";
  src: url("./font/Onest-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Onest-medium";
  src: url("./font/Onest-Medium.ttf") format("truetype");
}

:root {
  --white: #f4f4f4;
  --white-before: #bebbbb;
  --blue: #94e7ec;
  --gray: #202020;
}

body {
  font-family: "Onest-semi-bold";
  background-color: #202020;
}

p {
  font-size: 1.2rem;
  font-family: "Onest-medium";
  line-height: 30px;
}

/* Navbar et header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 150px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header p {
  margin: 0;
  font-family: "Onest-medium";
  font-size: 1.7rem;
  color: var(--white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 220px;
  font-family: "Onest-medium";
}

.navbar a {
  text-decoration: none;
  color: var(--white-before);
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--white);
}

/* Acceuil */

.hero {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: start;
  margin: 0 auto;
}

.elementacceuil {
  display: flex;
  border:1px solid pink;
 /* position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translateY(-50%) translateX(0);*/ /* aligne verticalement au centre sans décaler horizontalement */
  text-align: left; /* texte aligné à gauche */
  flex-direction: column;
  width: 50%;
  order: 2;
  justify-content: center;
}

.imgacceuil {
  display: flex;
  border:1px solid blue;
 /* position: absolute;
  top: 40%;
  left: 30%;*
  justify-content: start;
  align-items: center;*/
  width: 50%;
  order: 1;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  margin: 0; 
  line-height: 1; 
}

.prenom {
  font-family: "Onest";
  font-size: 8.5rem;
  color: var(--white);
}

.nom {
  font-family: "Onest";
  font-size: 8.5rem;
  color: var(--white);
  padding-top: 1px;
}

.description {
  font-family: "Onest-medium";
  font-size: 2.3rem;
  padding-top: 28px;
  color: var(--white-before);
  word-spacing: 5px;
}



/* À propos */

.apropos {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 1/3 et 2/3 */
  column-gap: 90px;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 190px;
}

.apropos img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.apropos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}

.apropos-container h2 {
  font-size: 6rem;
  margin: 0;
  padding-bottom: 30px;
  color: var(--blue);
  font-family: "Onest-medium";
}

/* Responsive pour mobile */
@media screen and (max-width: 810px) {
  .apropos {
    grid-template-columns: 1fr; /* une seule colonne */
    text-align: center;
  }

  .apropos img {
    max-width: 400px;
    margin: 0 auto 30px;
  }
}

/* Competences */

.competences {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 220px;
}

.imagecompetences {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 45px;
}

.imagecompetences img {
  height: 65px;
  width: 65px;
}

/* Projets */

.projets {
  display: grid;
  align-items: center;
  color: var(--white);
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 220px;
}

.projets h2 {
  font-size: 6rem;
  margin: 0;
  padding-bottom: 40px;
  color: var(--blue);
}

.projectscontainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 80px;
  row-gap: 40px;
  align-self: center;
}

.projectscontainer h3 {
  font-size: 1.8rem;
  font-family: "Onest-medium";
  color: var(--white-before);
}

.projectscontainer p {
  color: var(--white-before);
}

.projectscontainer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

/* Au survol du projet */
.projectscontainer > div:hover h3,
.projectscontainer > div:hover p {
  color: var(--white);
}

/* Page Projet */

.imagecentrale {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}

.imagecentrale img {
  width: 1100px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 120px;
}

.info h2 {
  color: var(--white);
  font-size: 5rem;
  color: var(--white);
  margin: 0; /* enlève la marge par défaut des <h*> */
}

.info h3 {
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Onest-medium";
}

.texte {
  color: var(--white);
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
}

.btnjouer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.btnjouer button {
  display: flex;
  border: 2px solid var(--white-before); /* Bordure blanche (tu peux changer la couleur) */
  color: var(--white-before); /* Couleur du texte */
  background-color: transparent; /* Fond transparent */
  border-radius: 60px; /* Coins arrondis */
  font-family: "Onest-Medium";
  font-size: 2rem;
  padding: 10px 90px;
}

.btnjouer button:hover {
  border: 2px solid var(--white); /* Bordure blanche (tu peux changer la couleur) */
  color: var(--white); /* Couleur du texte */
}

.btnjouer button:visited,
.btnjouer button:focus,
.btnjouer button:active {
  display: flex;
  border: 2px solid var(--white-before); /* Bordure blanche (tu peux changer la couleur) */
  color: var(--white-before); /* Couleur du texte */
  background-color: transparent; /* Fond transparent */
  border-radius: 50px; /* Coins arrondis */
  font-family: "Onest-Medium";
  font-size: 2rem;
  padding: 10px 90px;
}

@media screen and (max-width: 1625px) {
  
.hero {
  display: block;
}
  .navbar {
    display: flex;
    flex-direction: column; /* empile les liens verticalement */
    align-items: flex-end; /* reste aligné à droite */
    gap: 20px; /* espace vertical entre les liens */
  }

  .elementacceuil {
    order: 1;
  }

  .apropos {
    max-width: 990px;
  }

  .projets {
    max-width: 990px;
  }

  .hero {
    max-width: 1100px;
    margin: 0 auto;
  }


}


